/* 文章页背景 */
.layout>div:first-child:not(.recent-posts) {
    /* 以下代表白色透明度为0.3 */
    background: rgba(255,255,255,.9);
    box-shadow: 20px 20px 20px 20px #888888;
}
/* 所有背景（包括首页卡片、文章页、页面页等） */
#recent-posts>.recent-post-item, .layout>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
    /* 以下代表白色透明度为0.3 */
    background: rgba(255,255,255,.9);
    box-shadow: 20px 20px 20px 20px #888888;
}
#web_bg{
    background-image: url("https://i.loli.net/2021/04/04/oUzZPIlk8dHOrCm.jpg"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("https://i.loli.net/2021/04/04/oUzZPIlk8dHOrCm.jpg");
}